body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #0a1230, #0a0f2a, #090c1d);
  color: white;
  text-align: center;
  margin: 0;
  padding: 50px;
}
img {
  margin-top: 20px;
}